.about,
.contactUs,
.home {
  position: absolute;
  top: 22px;
  font-weight: 800;
  display: inline-block;
  height: 47px;
}
.about {
  left: calc(50% - 466px);
  width: 88px;
  cursor: pointer;
}
.contactUs,
.home {
  left: calc(50% - 337px);
  width: 94px;
}
.contactUs {
  top: 23px;
  left: calc(50% - 216px);
  width: 143px;
  cursor: pointer;
}
.desktop1Child {
  position: absolute;
  top: 558px;
  left: 46px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 208px;
  height: 55px;
}
.roadSafety1 {
  margin: 0;
  font-weight: 800;
}
.blankLine {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.roadSafety {
  position: absolute;
  top: 247px;
  left: 55px;
  display: inline-block;
  width: 501px;
  height: 232px;
  font-size: var(--font-size-77xl);
}
.desktop1Item {
  position: absolute;
  top: 0;
  left: 765px;
  width: 675px;
  height: 771px;
  object-fit: cover;
}
.learnMore,
.tataSteel {
  position: absolute;
  display: inline-block;
}
.learnMore {
  top: 570px;
  left: 88px;
  font-weight: 800;
  color: var(--color-white);
  width: 149px;
  height: 32px;
}
.tataSteel {
  top: 23px;
  left: 57px;
  font-weight: 900;
  width: 186px;
  height: 46px;
}
.desktop1Inner {
  position: absolute;
  top: 771px;
  left: 0;
  background-color: var(--color-silver-200);
  width: 1440px;
  height: 262px;
}
.weBelieveIn {
  position: absolute;
  top: 847px;
  left: 88px;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1165px;
  height: 110px;
}
.empoweringRoadSafety {
  margin: 0;
}
.empoweringRoadSafetyContainer {
  position: absolute;
  top: 479px;
  left: 55px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 398px;
  height: 46px;
}
.desktop1 {
  position: absolute;
  top: -11px;
  left: 0;
  background-color: var(--color-silver-100);
  width: 1440px;
  height: 1033px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
