.frameChild {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 1103px;
  height: 573px;
}
.desktop4Inner {
  position: absolute;
  top: 192px;
  left: 148px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.desktop4Child,
.desktop4Child1,
.desktop4Item,
.rectangleDiv {
  position: absolute;
  top: 273px;
  left: 236px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 446px;
  height: 59px;
}
.desktop4Child1,
.desktop4Item,
.rectangleDiv {
  top: 385px;
}
.desktop4Child1,
.rectangleDiv {
  top: 273px;
  left: 747px;
  width: 452px;
}
.desktop4Child1 {
  top: 385px;
}
.address,
.date,
.name,
.phoneNo {
  position: absolute;
  top: 235px;
  left: 260px;
  letter-spacing: 0.05em;
  display: inline-block;
  font-family: var(--font-istok-web);
  width: 90px;
  height: 28px;
}
.date,
.name,
.phoneNo {
  top: 229px;
  left: 782px;
}
.date,
.phoneNo {
  top: 354px;
}
.phoneNo {
  top: 353px;
  left: 269px;
  width: 124px;
}
.enterYourAddress,
.enterYourName,
.enterYourPhone,
.mmddyyyy {
  position: absolute;
  top: 403px;
  left: 260px;
  letter-spacing: 0.05em;
  font-weight: 300;
  display: inline-block;
  width: 440px;
  height: 22px;
}
.enterYourAddress,
.enterYourName,
.mmddyyyy {
  top: 291px;
  left: 782px;
}
.enterYourAddress,
.mmddyyyy {
  top: 289px;
  left: 260px;
}
.mmddyyyy {
  top: 404px;
  left: 782px;
}
.desktop4Child2,
.desktop4Child3 {
  position: absolute;
  top: 544px;
  left: 236px;
  border-radius: var(--br-8xs);
  background-color: var(--color-snow);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 963px;
  height: 83px;
}
.desktop4Child3 {
  top: 654px;
  background-color: var(--color-black);
  width: 157px;
  height: 51px;
}
.enterYourMessage {
  position: absolute;
  top: 575px;
  left: 260px;
  letter-spacing: 0.05em;
  font-weight: 300;
  display: inline-block;
  width: 406px;
  height: 20px;
  cursor: pointer;
}
.contactUs {
  top: 135px;
  left: 602px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  text-align: center;
  width: 215px;
  height: 31px;
}
.contactUs,
.message,
.submit {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.message {
  top: 512px;
  left: 255px;
  width: 139px;
  height: 19px;
  cursor: pointer;
}
.submit {
  top: 665px;
  left: 248px;
  color: var(--color-white);
  text-align: center;
  width: 133px;
  height: 29px;
}
.rectangleIcon {
  position: absolute;
  top: 54px;
  left: 157px;
  width: 43px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.back {
  position: absolute;
  top: 60px;
  left: 208px;
  letter-spacing: 0.05em;
  font-family: var(--font-fredoka-one);
  color: var(--color-white);
  display: inline-block;
  width: 85px;
  height: 28px;
}
.desktop4 {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(/public/desktop--4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
